
body{
    background: lavender;text-align:center;

}

h2{color: blue}

.container{
    margin:auto;
    width:50%;
    margin-top:50px;
}
.shape{
    background-color: green;
    margin: 10px;
    width:100px;
    height:100px;
    display: inline-block;
    text-align: center;
    line-height:100px;
    border-radius: 50%;
}
